# ignored files
.DS_Store
error_log
.ftpquota
source/export-invoice.xml
source/inc/db_connect.php
# ignored folders
source/templates/*
!source/templates/style.css
!source/templates/style.css.map
!source/templates/style.scss
!source/templates/template-default-pdf.php
!source/templates/template-default-xml.php