@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Regular"), url(/fonts/sourcesanspro-regular-webfont.woff2?c9334aab3277c0f0e17db09d2f14be64) format("woff2"), url(/fonts/sourcesanspro-regular-webfont.woff?518d5865fb74e05dc1a19f403ac21b57) format("woff");
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Bold"), url(/fonts/sourcesanspro-bold-webfont.woff2?b49c08bf62985e415feea7782a4d97b0) format("woff2"), url(/fonts/sourcesanspro-bold-webfont.woff?049fbc9d3e40e4dd11dffeef7b7109c1) format("woff");
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro Regular"), url(/fonts/sourcecodepro-regular-webfont.woff2?cec6d3e84257a1d7eacdc3a6f2c26418) format("woff2"), url(/fonts/sourcecodepro-regular-webfont.woff?800660f7f6161830647fb78d07fa54b2) format("woff");
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro Bold"), url(/fonts/sourcecodepro-bold-webfont.woff2?12bf99401961d1a104372d604738f719) format("woff2"), url(/fonts/sourcecodepro-bold-webfont.woff?633f6e4894a6cbc64f9229c7a3960cb2) format("woff");
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
}
:root {
  --color-opacity-full: 100%;
  --color-opacity-08: 80%;
  --color-opacity-06: 60%;
  --prim-color-dark: 0, 0%, 21%;
  --prim-color-text: hsla(var(--prim-color-dark), var(--color-opacity-full));
  --prim-color-light: 0, 0%, 95%;
  --prim-color-bg: hsla(0, 0%, 95%, 100%);
  --prim-color: hsla(269, 68%, 57%, 1);
  --prim-color-strong: hsla(269, 88%, 37%, 1);
  --prim-color-light: hsla(258, 100%, 88%, 1);
  --sec-color: hsla(48, 100%, 58%, 1);
  --thrd-color: hsla(245, 100%, 64%, 1);
  --white-color: white;
  --red-color: hsla(342, 100%, 53%, 1);
  --green-color: hsla(144, 100%, 53%, var(--color-opacity-full));
  --green-color-light: hsla(144, 100%, 53%, var(--color-opacity-06));
}

:root {
  --trans-short: 0;
  --trans-long: 0;
  --sp-s: 1.2rem;
  --sp-m: 3rem;
  --sp-l: 5rem;
}

@media screen and (prefers-reduced-motion: no-preference) {
  :root {
    --trans-short: 0.3s;
    --trans-long: 0.6s;
  }
}
:root {
  --w: 1440px;
  --w-content: 1300px;
  --h: 900px;
  --h-header: 70px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  accent-color: var(--prim-color-strong);
}

html, body {
  height: 100%;
  min-height: calc(100vh - var(--h-header));
  overflow-x: hidden;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  scroll-padding-top: calc(1rem + var(--h-header));
}

body {
  position: relative;
  background-color: var(--prim-color-bg);
  font-family: "Source Sans Pro", sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: var(--prim-color-text);
}

main {
  overflow-y: auto;
}

p {
  margin-bottom: 0.8rem;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  line-height: 1.5;
}

strong {
  font-weight: 700;
}

a {
  font-weight: 700;
  color: currentColor;
  text-decoration: none;
}
@media (pointer: fine) {
  a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

:focus-visible {
  outline: 2px solid var(--prim-color);
  outline-offset: 2px;
}

h1, h2, h3 {
  font-weight: 700;
  overflow-wrap: break-word;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2.5em;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2em;
}

h3 {
  margin-bottom: 1.6rem;
  font-size: 1.5em;
  font-weight: 400;
}

ul, ol {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  padding-left: 16px;
}
ul li, ol li {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  line-height: 1.5;
}
ul li:not(:last-of-type), ol li:not(:last-of-type) {
  margin-bottom: 0.8rem;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.shadow {
  box-shadow: 0 4px 14px 0 hsla(0deg, 0%, 0%, 0.3);
}

.shadow-light {
  box-shadow: 0 4px 10px 0 hsla(0deg, 0%, 0%, 0.1);
}

.text-center {
  text-align: center;
}

.text-grey {
  color: hsla(var(--prim-color-dark), var(--color-opacity-06));
}

.text-red {
  color: var(--red-color);
}

.text-code {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}
.text-code * {
  margin-bottom: 0.8rem;
  font-size: clamp(0.7rem, 1.2vw, 0.9rem);
  line-height: 1.2;
}

.msg {
  -webkit-padding-before: 1rem;
          padding-block-start: 1rem;
  -webkit-padding-after: 0.1rem;
          padding-block-end: 0.1rem;
  padding-inline: 1rem;
}
.msg.msg--error {
  background-color: var(--red-color);
  color: var(--prim-color-bg);
}
.msg.msg--success {
  background-color: var(--green-color);
}
.msg.msg--warn {
  background-color: var(--sec-color);
}

.content {
  max-width: 1300px;
  width: 96%;
  margin: 0 auto;
}

.sp-y-s {
  margin-bottom: var(--sp-s);
}

.sp-y-m {
  margin-bottom: var(--sp-m);
}

.sp-y-l {
  margin-bottom: var(--sp-l);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex--pos-x-start {
  justify-content: flex-start;
}
.flex--pos-x-around {
  justify-content: space-around;
}
.flex--pos-y-start {
  align-items: flex-start;
}
.flex--wrap {
  flex-wrap: nowrap;
}
.flex--gap-col-s {
  -moz-column-gap: var(--sp-s);
       column-gap: var(--sp-s);
}
.flex--gap-col-m {
  -moz-column-gap: var(--sp-m);
       column-gap: var(--sp-m);
}
.flex--gap-row-s {
  row-gap: var(--sp-s);
}
.flex--gap-row-m {
  row-gap: var(--sp-m);
}
.flex__grow-2 {
  flex-grow: 2;
}

.is-closed,
[data-state=is-closed] {
  display: none;
}

.sr-only {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.social-icon {
  font-size: 0;
}
.social-icon svg {
  width: 30px;
  height: 30px;
}
.social-icon svg path {
  fill: var(--prim-color-bg);
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 1ch;
}
.icon-text svg path {
  fill: currentColor;
}

@media screen and (max-width: 992px) {
  .content {
    padding-inline: 3vw;
  }
  .flex.flex--wrap {
    flex-wrap: wrap;
  }
}
.header {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--h-header);
  background-color: transparent;
}
.header .content {
  position: relative;
  height: 100%;
}
.header.bg-header {
  background-color: var(--prim-color-bg);
}

.header__logo {
  transform: translateX(0);
  transition: transform var(--trans-long);
}
.header__logo > a {
  font-size: clamp(1.7rem, 7vw, 2.3rem);
  font-weight: 700;
  color: var(--prim-color-dark);
}
@media (pointer: fine) {
  .header__logo > a:hover {
    text-decoration: none;
    color: var(--prim-color);
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .header__logo {
    transform: translateX(-150vw);
  }
  .header__logo.is-visible {
    transform: translateX(0);
  }
}
.header__nav {
  height: 100%;
}
.header__nav nav ul {
  margin: 0;
  list-style-type: none;
}
.header__nav nav ul li {
  display: inline-block;
  margin: 0;
}
.header__nav nav ul a {
  margin: 0 1rem;
  padding: 0 0 0.2rem 0;
  font-weight: 400;
}
.header__nav nav ul a:hover, .header__nav nav ul a[aria-current=page] {
  background-color: transparent;
  border-bottom: 2px solid var(--prim-color-text);
  text-decoration: none;
}
.header__nav .btn.btn--burger {
  display: none;
  margin: 0 0 0 2rem;
}

@media screen and (max-width: 992px) {
  .header__nav nav {
    display: none;
  }
  .header__nav .btn.btn--burger {
    display: flex;
  }
}
.footer__top .content {
  margin-top: 6rem;
  padding: 1rem 0;
  border-top: 1px solid var(--prim-color-text);
}
.footer__top a {
  display: inline-block;
  margin-bottom: 0.4rem;
}
.footer__top p {
  font-size: 0.7rem;
}
.footer__bottom {
  padding: 0.5rem 0;
  background-color: var(--prim-color-text);
  color: var(--prim-color-bg);
  font-size: 0.7rem;
}
.footer__bottom .content {
  justify-content: flex-start;
  gap: 2ch;
}

.btn,
button,
input[type=submit],
input[type=button] {
  position: relative;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem 1.1rem;
  background-color: var(--prim-color-strong);
  border: 0.16rem solid var(--prim-color-strong);
  border-radius: 0;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
  color: var(--prim-color-bg);
  cursor: pointer;
}
@media (pointer: fine) {
  .btn:hover,
  button:hover,
  input[type=submit]:hover,
  input[type=button]:hover {
    background-color: var(--prim-color-light);
    box-shadow: 3px 3px 0px var(--prim-color-strong);
    color: var(--prim-color-strong);
    text-decoration: none;
    transition: all var(--trans-short);
  }
}

.btn--sec-color {
  background-color: var(--sec-color);
  border-color: var(--sec-color);
  color: var(--prim-color-strong);
}
@media (pointer: fine) {
  .btn--sec-color:hover {
    border-color: var(--prim-color-strong);
    box-shadow: 3px 3px 0px var(--prim-color-strong);
    transition: all var(--trans-short);
  }
}

.btn.btn--icon-text {
  display: flex;
  align-items: center;
  padding: 4px 4px 4px 12px;
  background-color: var(--prim-color-text);
  border: 3px solid var(--prim-color-text);
  border-radius: 5rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.btn.btn--icon-text span {
  display: inline-block;
  margin: 0;
  padding-right: 1ch;
  pointer-events: none;
  cursor: pointer;
}
.btn.btn--icon-text::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  width: 22px;
  height: 22px;
  border-radius: 50px;
  background-color: var(--prim-color-bg);
  pointer-events: none;
  cursor: pointer;
}
.btn.btn--icon-text svg {
  display: inline-block;
  z-index: 5;
  width: 20px;
  height: 20px;
  pointer-events: none;
  cursor: pointer;
}
.btn.btn--icon-text svg path {
  fill: var(--prim-color-text);
}
@media (pointer: fine) {
  .btn.btn--icon-text:hover {
    background-color: var(--prim-color-bg);
    box-shadow: none;
    color: var(--prim-color-text);
  }
  .btn.btn--icon-text:hover::after {
    background-color: var(--prim-color-text);
    transition: all var(--trans-short);
  }
  .btn.btn--icon-text:hover svg path {
    fill: var(--prim-color-bg);
    transition: all var(--trans-short);
  }
}

.btn.btn--icon-only {
  padding: 4px;
  background-color: transparent;
  border: none;
}
.btn.btn--icon-only svg {
  width: 20px;
  height: 20px;
  pointer-events: none;
  cursor: pointer;
}
.btn.btn--icon-only svg path {
  fill: var(--prim-color-text);
}
@media (pointer: fine) {
  .btn.btn--icon-only:hover {
    background-color: var(--prim-color);
    box-shadow: none;
    color: var(--prim-color-bg);
  }
  .btn.btn--icon-only:hover svg path {
    fill: var(--prim-color-bg);
    transition: all var(--trans-short);
  }
}

.btn.btn--burger,
.btn.btn--close {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 7px;
  box-sizing: content-box;
  width: 30px;
  height: 23px;
  margin: 0;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  --l-tr: 26px;
}
.btn.btn--burger .l,
.btn.btn--close .l {
  display: block;
  width: 30px;
  height: 0;
  background-color: transparent;
  border-bottom: 3px solid var(--prim-color-text);
  pointer-events: none;
  cursor: pointer;
}
@media (pointer: fine) {
  .btn.btn--burger:hover,
  .btn.btn--close:hover {
    background-color: var(--prim-color);
    box-shadow: none;
  }
  .btn.btn--burger:hover .l,
  .btn.btn--close:hover .l {
    border-color: var(--prim-color-bg);
  }
}

.btn.btn--burger {
  width: 30px;
  height: 23px;
  margin: 0;
  padding: 0.5rem;
}
.btn.btn--burger .li {
  transition: transform var(--trans-long);
}
.btn.btn--burger .l1 {
  border-top: 3px solid var(--prim-color-text);
  border-bottom: none;
}
.btn.btn--burger[aria-expanded=true] .l {
  margin: 0;
  border: 3px solid transparent;
  border-bottom-color: var(--prim-color-text);
  transition: transform var(--trans-long);
}
.btn.btn--burger[aria-expanded=true] .l1 {
  border-top-color: var(--prim-color-text);
  border-bottom-color: transparent;
}
.btn.btn--burger[aria-expanded=true] .l2 {
  width: var(--l-tr);
  transform: translate(-7px, -8.8px) rotate(45deg);
}
.btn.btn--burger[aria-expanded=true] .l3 {
  width: var(--l-tr);
  transform: translate(7px, -21.8px) rotate(-45deg);
}

.btn.btn--close {
  width: 26px;
  height: 21px;
  margin: 0;
  padding: calc(0.2rem + 4px) 0.2rem 0.2rem;
}
.btn.btn--close .l {
  transition: transform 0;
}
.btn.btn--close .l1 {
  transform: translateY(7px) rotate(45deg);
}
.btn.btn--close .l2 {
  transform: translateY(-7px) rotate(-45deg);
}

.table-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  border: 3px solid var(--prim-color-text);
}
.table-wrapper:not(.table-wrapper > table) > p {
  margin: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--prim-color);
  color: var(--prim-color-bg);
  text-align: left;
}

tbody tr:not(:last-of-type) {
  border-bottom: 1px solid var(--prim-color-text);
}
tbody tr:nth-of-type(odd) {
  background-color: var(--prim-color-light);
}

td, th {
  padding: 0.3rem;
  border-right: 1px solid var(--prim-color-text);
}
td:last-of-type, th:last-of-type {
  border-right: none;
}
td .state-icon, th .state-icon {
  width: -moz-max-content;
  width: max-content;
  padding: 0.2rem;
}
td .state-icon[data-state=is-active], th .state-icon[data-state=is-active] {
  background-color: var(--green-color-light);
}
td a, th a {
  font-weight: 300;
}
td a.btn.btn--icon-only, th a.btn.btn--icon-only {
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  padding: 0.2rem;
}
td a.btn.btn--icon-only:hover, th a.btn.btn--icon-only:hover {
  background-color: var(--prim-color);
  box-shadow: none;
  color: var(--prim-color-bg);
}
td a.btn.btn--icon-only:hover svg path, th a.btn.btn--icon-only:hover svg path {
  fill: var(--prim-color-bg);
  transition: all var(--trans-short);
}

th {
  border-bottom: 3px solid var(--prim-color-text);
}

.field-group {
  margin-bottom: 2rem;
}

.field-wrapper {
  position: relative;
}

label {
  display: block;
  margin-bottom: 0.2rem;
  font-family: "Source Code Pro", monospace;
  font-size: 0.88em;
  font-weight: 700;
  text-transform: lowercase;
}

input {
  width: 100%;
  margin-bottom: var(--sp-s);
  padding-inline: 0.6rem;
  padding-block: 0.5rem;
  background: transparent;
  border: 0.16rem solid hsla(var(--prim-color-dark), var(--color-opacity-full));
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}
input:not([disabled]):hover, input:not([disabled]):focus-visible {
  box-shadow: 3px 3px 0px var(--prim-color-text);
}
input:focus-visible {
  background-color: white;
  outline: none;
}
input[type=checkbox], input[type=radio] {
  width: 1rem;
  height: 1rem;
  margin: 0 1rem 0 0;
}
input[type=checkbox] ~ p, input[type=radio] ~ p {
  display: inline-block;
  margin-bottom: 0;
}
input:checked {
  background-color: var(--prim-color-strong);
}
input[disabled], input[readonly] {
  border-color: hsla(var(--prim-color-dark), var(--color-opacity-06));
  color: hsla(var(--prim-color-dark), var(--color-opacity-06));
  cursor: not-allowed;
}
input[disabled]:hover, input[readonly]:hover {
  box-shadow: none;
}
input[data-unit] {
  -webkit-padding-start: 5ch;
          padding-inline-start: 5ch;
}
input:invalid, input.is-invalid {
  box-shadow: 0 0 0 0.16rem var(--red-color);
}

.input-prefix {
  position: absolute;
  display: inline-block;
  margin-top: 0.16rem;
  padding-block: 0.66rem;
  -webkit-padding-start: 0.6rem;
          padding-inline-start: 0.6rem;
  font-size: 1em;
  line-height: 1;
  color: hsla(var(--prim-color-dark), var(--color-opacity-06));
}

.no-eur-only[data-visible=false] {
  display: none;
}

@media screen and (max-width: 992px) {
  .field-group:not(.flex--wrap) {
    flex-direction: column;
  }
  .field-wrapper {
    width: 100%;
  }
}
.tooltip {
  margin-bottom: var(--sp-s);
}
.tooltip__btn {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--prim-color-text);
}
.tooltip__btn:hover {
  background: none;
  border: none;
  box-shadow: none;
}

.modal {
  position: absolute;
  z-index: 990;
  display: block;
  width: auto;
  height: auto;
}
.modal::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 900;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal > .flex {
  margin: 0;
  padding: 2rem;
  background-color: var(--prim-color-bg);
  border: 6px solid var(--prim-color-text);
  box-shadow: 0 4px 14px 0 hsla(0deg, 0%, 0%, 0.3);
}
.modal[data-state=is-opened] {
  visibility: visible;
}
.modal[data-state=is-opened]::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--trans-short), visibility var(--trans-short) 0s;
}
.modal[data-state=is-closed] {
  visibility: hidden;
}
.modal[data-state=is-closed]::before {
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--trans-short), visibility var(--trans-short) 0s;
}

.modal--nav {
  top: var(--h-header);
  text-align: right;
}
.modal--nav[data-state=is-opened] {
  right: 0;
  transition: right var(--trans-long) cubic-bezier(0, 0, 0.29, 1.01);
}
.modal--nav[data-state=is-closed] {
  right: -100vw;
  transition: right var(--trans-long) ease-in, visibility 0.4s var(--trans-short) linear;
}
.modal--nav .flex {
  position: relative;
  z-index: 990;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 3rem 2rem 2rem;
}
.modal--nav .wrapper-input {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.modal--nav nav ul {
  margin: 0;
  list-style-type: none;
}
.modal--nav nav li {
  position: relative;
  display: block;
  min-width: 230px;
  padding: 0.6rem 0;
  border-bottom: 1px solid var(--prim-color-text);
}
.modal--nav nav li:last-of-type {
  border-bottom: none;
}
.modal--nav nav a {
  font-size: 1.7rem;
  text-transform: uppercase;
}
.modal--nav nav a[aria-current=page] {
  --nav-index-color: var(--prim-color-text);
}
.modal--nav nav a[aria-current=page]::before {
  content: url("/svg/menu-marker.svg");
  position: absolute;
  top: calc(50% - 13px);
  left: 0;
}
.modal--nav nav a[aria-current=page]:hover::before {
  content: url("/svg/menu-marker-hover.svg");
}
.modal--nav nav li:hover {
  --nav-index-color: var(--prim-color);
  color: var(--prim-color);
}
.modal--nav nav li:hover a {
  background-color: transparent;
  color: var(--prim-color);
  text-decoration: none;
}

dialog {
  position: fixed;
  inset: 0;
  z-index: 990;
  max-width: min(96%, 800px);
  max-height: 96vh;
  margin: auto;
  padding: 3rem 2rem 2rem;
  overflow-y: auto;
  background-color: var(--prim-color-bg);
  border: 6px solid var(--prim-color-text);
  box-shadow: 0 4px 14px 0 hsla(0deg, 0%, 0%, 0.3);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog > .wrapper-input {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.pagination {
  margin-bottom: var(--sp-l);
}
.pagination nav > div:first-of-type {
  width: 100%;
}
.pagination .hidden {
  display: none;
}

#main {
  width: 100%;
  max-width: 800px;
  margin: calc(var(--h-header) + 5vh) auto 5vh auto;
}

.login #register {
  padding: 2.5rem 2rem 1.5rem 2rem;
  background-color: var(--prim-color-light);
}

.dashboard tbody:not(.show-all) tr:nth-of-type(n+6) {
  display: none;
}
