@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro Regular'),
    url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro Bold'),
  url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro Regular'),
    url('../fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
    url('../fonts/sourcecodepro-regular-webfont.woff') format('woff');
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro Bold'),
  url('../fonts/sourcecodepro-bold-webfont.woff2') format('woff2'),
  url('../fonts/sourcecodepro-bold-webfont.woff') format('woff');
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
}