// general styles for oliverjaeggin.ch

@import "fonts.scss";
@import "var.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  min-height: calc(100vh - var(--h-header));
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  scroll-padding-top: calc(1rem + var(--h-header));
}

body {
  background-color: var(--prim-color-bg);
  font-family: $font-text;
  font-size: 1rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: var(--prim-color-text);
  overflow-x: hidden;
}

main {
  overflow-y: auto;
}

p {
  margin-bottom: 0.8rem;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  line-height: 1.5;
}

strong {
  font-weight: 700;
}

a {
  font-weight: 700;
  color: currentColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

:focus-visible {
  outline: 2px solid var(--prim-color-light);
  outline-offset: 2px;
}

h1, h2, h3 {
  font-weight: 700;
  overflow-wrap: break-word;
}

h1 {
  margin-bottom: 2rem;
  font-size: clamp(2.3rem, 10vw, 2.8rem);
}

h2 {
  margin-bottom: 1rem;
  font-size: clamp(1.8rem, 8vw, 2.1rem);
}

h3 {
  margin-bottom: 1.6rem;
  font-size: clamp(1.3rem, 4vw ,2.1rem);
  font-weight: 400;
}

ul, ol {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  padding-left: 16px;

  li {
    font-size: clamp(0.9rem, 3vw, 1.1rem);
    line-height: 1.5;
  }

  li:not(:last-of-type) {
    margin-bottom: 0.8rem;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.shadow {
  box-shadow: $shadow;
}

.shadow-light {
  box-shadow: $shadow-light;
}

.text-center {
  text-align: center;
}

.text-grey {
  color: hsla(var(--prim-color-dark), var(--color-opacity-06));
}

.content {
  max-width: 1300px;
  width: 96%;
  margin: 0 auto;
}

.sp-y-s {
  margin-bottom: var(--sp-s);
}

.sp-y-m {
  margin-bottom: var(--sp-m);
}

.sp-y-l {
  margin-bottom: var(--sp-l);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--pos-x-start {
    justify-content: flex-start;
  }

  &--pos-y-start {
    align-items: flex-start;
  }

  &--gap-col-s {
    column-gap: var(--sp-s);
  }

  &--gap-col-m {
    column-gap: var(--sp-m);
  }

  &__grow-2 {
    flex-grow: 2;
  }
}

.grid {
  display: grid;

  &--main {
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: auto;
  }

  &--hero {
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(10, 4vh);
    gap: 2vw 2vh;
    padding-top: 24vh;
  }
}

.is-closed,
[data-state="is-closed"] {
  display: none;
}

.sr-only:not(:focus):not(:active),
.splide__sr:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.social-icon {
  font-size: 0;

  svg {
    width: 30px;
    height: 30px;

    path {
      fill: var(--prim-color-bg);
    }
  }
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 1ch;

  svg path {
    fill: currentColor;
  }
}

// mobile and tablet
@media
screen and (max-width: $bp-notebook) {
  .grid {  
    &--hero {
      grid-template-rows: repeat(10, 6vh);
      padding-top: 16vh;
    }
  }  
}