// header styles for oliverjaeggin.ch

.header {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--h-header);
  background-color: transparent;

  .content {
    position: relative;
    height: 100%;
  }

  &.bg-header {
    background-color: var(--prim-color-bg);
  }
}

.header__logo {
  transform: translateX(0);
  transition: transform var(--trans-long);

  & > a {
    font-size: clamp(1.7rem, 7vw, 2.3rem);
    font-weight: 700;
    color: var(--prim-color-dark);

    @media (pointer:fine) {
      &:hover {
        text-decoration: none;
        color: var(--prim-color);
      }
    }
  }
}
@media screen and (prefers-reduced-motion: no-preference) {
  .header__logo {
    transform: translateX(-150vw);

    &.is-visible {
      transform: translateX(0);
    }
  }
}

.header__nav {
  height: 100%;
  
  nav {
    ul {
      margin: 0;
      list-style-type: none;
  
      li {
        display: inline-block;
        margin: 0;
      }
      a {
        margin: 0 1rem;
        padding: 0 0 0.2rem 0;
        font-weight: 400;

        &:hover,
        &[aria-current="page"] {
          background-color: transparent;
          border-bottom: 2px solid var(--prim-color-text);
          text-decoration: none;
        }
      }  
    }  
  }
  .btn.btn--burger {
    display: none;
    margin: 0 0 0 2rem;
  }
}

// mobile, tablet and notebooks
@media screen and (max-width: $bp-notebook) {
  .header__nav {
    nav {
      display: none;
    }
    .btn.btn--burger {
      display: flex;
    }
  }
}