// basic styles for PDF template
@import "../css/basic/general.scss";
@import "../css/comp/button.scss";

body {
  font-size: 11pt;
  line-height: 1.2;
  box-sizing: border-box;
}

p {
  margin-bottom: 1rem;
  font-size: 11pt;
  line-height: 1.2;
}

h1 {
  font-size: 16pt;
}

.btn {
  position: fixed;
  top: 2vh;
  left: 1vw;
  z-index: 999;
}

.content {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  padding: 2cm 2cm 1cm 2cm;
  background-color: white;
}

.col2 {
  width: 3.5cm;
}

.sender {
  width: 50%;
  margin-right: auto;
}

.recipient {
  width: 50%;
  margin-left: auto;
}

.invoice {
  &__date,
  &__number {
    width: 50%;
    margin-right: auto;
  }
}

.text-grey {
  color: grey;
}

.text-small {
  font-size: 9pt;
}

.table {
  width: 100%;
  border-collapse: collapse;
  
  td, th {
    padding: 0.4rem 0;
  }

  &__header-subtitle {
    th {
      border-bottom: 1pt solid var(--prim-color-text);
    }
  }

  .border-bottom {
    border-bottom: 1pt solid var(--prim-color-text);
  }

  .border-bottom-double {
    border-bottom: 2pt double var(--prim-color-text);
  }

  .sp-row-1 td {
    padding-top: calc(11pt + 0.8rem);
  }

  .sp-row-05 td {
    padding-top: 6pt;
  }
}

.msg {
  padding: 0.5rem 1cm;

  &--grey {
    background-color: lightgray;
  }

  p {
    margin-bottom: 0;
  }
}

footer {
  position: absolute;
  inset-inline: 1.5cm;
  bottom: 0.5cm;
}

@media print {
  body {
    background-color: transparent;
  }
  .btn {
    display: none;
  }
}