// component "banner" for oliverjaeggin.ch

@import "../basic/var.scss";

.banner {
  padding: 4rem 0;

  &--prim-color {
    background-color: var(--prim-color);
    color: var(--prim-color-bg);
  }

  &--sec-color {
    background-color: var(--sec-color);
  }

  &--light-color {
    background-color: var(--prim-color-light);
  }
  
  &--thrd-color {
    background-color: var(--thrd-color);
    color: var(--prim-color-bg);
  }
}
.banner.banner--half {
  padding: 0;

  .banner--half__shape {
    padding: 6rem 0;
    --tan-ab: 0.099813269471482;
    clip-path: polygon(0 0, 60% calc(60% * var(--tan-ab)), 60% 100%, 0 calc(100% - (60% * var(--tan-ab))));

    &:first-of-type {
      margin-top: 6rem;

      .banner__content {
        grid-column: 1 / 8;
        grid-row: auto;
        justify-self: end;
      }    
    }

    //&:nth-of-type(2n) {
    &:last-of-type {
      margin-top: -6rem;
      margin-bottom: 6rem;
      clip-path: polygon(100% 0, 40% calc(60% * var(--tan-ab)), 40% 100%, 100% calc(100% - (60% * var(--tan-ab))));

      .banner__content {
        grid-column: 7 / 14;
        grid-row: auto;
      }          
    }
  }
}