// component "modal" for oliverjaeggin.ch

@import "../basic/var.scss";

dialog {
  position: fixed;
  inset: 0;
  z-index: 990;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 2rem;
  background-color: var(--prim-color-bg);
  border: 6px solid var(--prim-color-text);
  box-shadow: $shadow;
}
dialog::backdrop {
  background-color: rgba(0,0,0,0.5);
}

