// component "form" for efattura

@import "../basic/var.scss";

.field-group {
  margin-bottom: 2rem;
}

.field-wrapper {
  position: relative;
}

label {
  display: block;
  margin-bottom: 0.2rem;
  font-family: $font-code;
  font-size: 0.88rem;
  font-weight: 700;
  text-transform: lowercase;
}

input {
  width: 100%;
  margin-bottom: var(--sp-s);
  padding-inline: 0.6rem;
  padding-block: 0.5rem;
  background: transparent;
  border: 0.16rem solid hsla(var(--prim-color-dark), var(--color-opacity-full));
  font-family: $font-text;
  font-size: 1.1rem;
  font-weight: 400;

  &:not([disabled]):hover,
  &:not([disabled]):focus-visible {
    box-shadow: $shadow-full-text;
  }

  &:focus-visible {
    background-color: white;
    outline: none;
  }

  &[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem 0 0;

    & ~ p {
      margin-bottom: 0;
    }
  }

  &[disabled],
  &[readonly] {
    border-color: hsla(var(--prim-color-dark), var(--color-opacity-06));
    color: hsla(var(--prim-color-dark), var(--color-opacity-06));
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
    }
  }

  &[data-unit] {
    padding-inline-start: 5ch;
  }

  &:invalid {
    box-shadow: 0 0 0 0.16rem var(--red-color);
  }
}

.input-prefix {
  position: absolute;
  display: inline-block;
  margin-top: 0.16rem;
  padding-block: 0.66rem;
  padding-inline-start: 0.6rem;
  font-size: 1.1rem;
  line-height: 1;
  color: hsla(var(--prim-color-dark), var(--color-opacity-06));
}

.no-eur-only[data-visible="false"] {
  display: none;
}